.App {
  text-align: center;
}

#map {
  height: 500px;
  /*width: 100%*/
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

.route-list-item {
	/*height: 50px;*/
	vertical-align: middle;
	line-height: 50px;
	color: #fff;
}

.route-list-item-header {
	
}

.stop-list {
	display: block;
	background: #fff;
  /*position: relative;*/
}

.stop-list-item {
	/*background: #fff;*/
	z-index: 1001;
	display: block;
	color: #000;
}